<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854536915978-et94phe1mtgs291ll1p96knij6l81cmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854536915978-et94phe1mtgs291ll1p96knij6l81cmh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>854536915978-om0ml0f1i3h7ik900djet1tnc961jjuo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsVkHppkbvLt84Jfq_mhxTBJIe_9vObhY</string>
	<key>GCM_SENDER_ID</key>
	<string>854536915978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anytimebusiness</string>
	<key>PROJECT_ID</key>
	<string>anytime-business</string>
	<key>STORAGE_BUCKET</key>
	<string>anytime-business.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854536915978:ios:635abe27813c16038ea3f3</string>
	<key>DATABASE_URL</key>
	<string>https://anytime-business.firebaseio.com</string>
</dict>
</plist>